html, body {
  margin: 0;
  padding: 0;
}

body{
	width: 80vw;
	margin-left: 10vw;
}

h1{
	font-family: 'Teko', sans-serif;
	margin-top: 20px;
	margin-bottom: 23px;
	text-align: center;
	line-height: 30px;
}

h2{
	font-family: 'Montserrat', sans-serif;
	margin-top: -20px;
	font-size: 14px;
	margin-bottom: 0px;
	text-align: center;
}

h3{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: 0px;
	font-size: 14px;
}

h4{
	font-family: 'Montserrat', sans-serif;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	line-height: 23px;
	margin-top: 0;
	margin-bottom: 0;
}

.pullquote{
	color: red;
	font-size: 48px;
	line-height: 56px;
	text-indent: 0;
}

img{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}