div{
	color: black;
	padding-left: 40px; 
	padding-bottom: 40px;
	}

.head{
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	top: 0px;
	left: 400px;
}

.box1 {
  width: 75px;
  height: 10px;
  top: 40px;
  left: 100px; 
  text-align: center;
  border: 2px solid blue;
}

.box2 {
  width: 75px;
  height: 10px;
  top: 500px;
  left: 100px; 
  text-align: center;
  border: 2px solid blue;
}

.box3{
	width: 75px;
	height: 10px;
	top: 800px;
	left: 100px;
	text-align: center;
	border: 2px solid blue;
}

.description{
  position: absolute;
  top: 49px;
  left: 200px;
  width: 450px;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  line-height: 66px;
  text-align: left;
  height: 100%;
  overflow: scroll;
}

.description2{
  position: absolute;
  top: 49px;
  left: 700px;
  width: 450px;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  line-height: 66px;
  text-align: left;
  height: 100%;
  overflow: scroll;	
}