div{
	position: absolute;
}
.box1 {
    background-color: black;
	width: 1px;
	height: 300px;
	top: 250px;
	left: 350px;
	border-left: 240px; 
}/*line 1*/

.box2{
	background-color: black;
	width: 1px;
	height: 130px;
	top: 250px;
	left: 450px;
	border-left: 240px; 
}/*line 2*/

.box3{
    background-color: black;
	top: 260px;
	left: 400px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 3*/

.box4{
    background-color: black;
	top: 180px;
	left: 400px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg)
}/*line 4*/

.box5{
    background-color: black;
	top: 320px;
	left: 437px;
	width: 1px;
	height: 240px;
	border-bottom: 240px;
	transform: rotate(-200deg)

}/*line 5*/

.box6{
  top: 353px;
  left: 343px;
  width: 15px; 
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*dot 1*/

.box7{
  top: 353px;
  left: 443px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*dot 2*/

.box8{
  top: 273px;
  left: 443px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*dot 3*/

.box9{
  top: 273px;
  left: 343px;
  width: 15px; 
  height:15px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 4*/

.box10{
  top: 353px;
  left: 401px;
  width: 15px; 
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*dot 5*/

.a1{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 250px;
	left: 570px;
	border-left: 240px; 
}/*line 1*/

.a2{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 250px;
	left: 670px;
	border-left: 240px; 
}/*line 2*/

.a3{
    background-color: black;
	top: 280px;
	left: 620px;
	width: 1px;
	height: 160px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 3*/

.a4{
    background-color: black;
	top: 200px;
	left: 620px;
	width: 1px;
	height: 160px;
	border-bottom: 240px;
	transform: rotate(-270deg)
}/*line 4*/

.a5{
  top: 353px;
  left: 563px;
  width: 15px; 
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*dot 1*/

.a6{
  top: 353px;
  left: 663px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*dot 2*/

.a7{
  top: 273px;
  left: 663px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*dot 3*/

.a8{
 top: 273px;
  left: 563px;
  width: 15px; 
  height:15px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 4*/


.n1{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 250px;
	left: 760px;
	border-left: 240px; 
}/*line 1*/

.n2{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 250px;
	left: 860px;
	border-left: 240px; 
}/*line 2*/

.n3{
background-color: black;
	top: 270px;
	left: 813px;
	width: 1px;
	height: 290px;
	border-bottom: 240px;
	transform: rotate(-215deg)
}/*Line 3*/

.n4{
  top: 331px;
  left: 753px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 1*/

.n5{
  top: 475px;
  left: 853px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 2*/

.g1{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 250px;
	left: 950px;
	border-left: 240px; 
}/*line 1*/

.g2{
    background-color: black;
	width: 1px;
	height: 90px;
	top: 250px;
	left: 1050px;
	border-left: 240px; 
}/*line 2*/

.g3{
    background-color: black;
	top: 180px;
	left: 1003px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 3*/

.g4{
    background-color: black;
	top: 415px;
	left: 1003px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 4*/

.g5{
background-color: black;
	width: 1px;
	height: 110px;
	top: 440px;
	left: 1050px;
	border-left: 240px; 
}/*line 5*/

.g6{
background-color: black;
	top: 420px;
	left: 1050px;
	width: 1px;
	height: 80px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 6*/

.g7{
  top: 272px;
  left: 943px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 1*/

.g8{
  top: 272px;
  left: 1043px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 2*/

.g9{
  top: 507px;
  left: 943px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 3*/

.g10{
  top: 507px;
  left: 1043px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 4*/

.g11{
  top: 452px;
  left: 1043px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 5*/

.e1{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 250px;
	left: 1180px;
	border-left: 240px; 
}/*line 1*/

.e2{
    background-color: black;
	top: 180px;
	left: 1243px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 2*/

.e3{
    background-color: black;
	top: 326px;
	left: 1220px;
	width: 1px;
	height: 150px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 3*/

.e4{
    background-color: black;
	top: 415px;
	left: 1243px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 4*/

.e5{
  top: 272px;
  left: 1173px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 1*/

.e6{
  top: 393px;
  left: 1173px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 2*/

.e7{
  top: 508px;
  left: 1173px;
  width: 15px;
  height: 15px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 3*/

.s1{

}

.s2{

}

.s3{

}

.s4{

}

.s5{

}

.s6{

}

.s7{

}

.s8{

}

.s9{

}

.s10{

}

.s11{

}

.s12{

}

.s13{

}
