div{
	position: absolute;
}
.box1 {
    background-color: black;
	width: 1px;
	height: 300px;
	top: 100px;
	left: 100px;
	border-left: 240px; 
}/*line 1*/

.box2{
	background-color: black;
	width: 1px;
	height: 130px;
	top: 100px;
	left: 200px;
	border-left: 240px; 
}/*line 2*/

.box3{
    background-color: black;
	top: 110px;
	left: 150px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 3*/

.box4{
    background-color: black;
	top: 20px;
	left: 150px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg)
}/*line 4*/

.box5{
    background-color: black;
	top: 170px;
	left: 180px;
	width: 1px;
	height: 240px;
	border-bottom: 240px;
	transform: rotate(-200deg)

}/*line 5*/

.box6{
  top: 100px;
  left: 95px;
  width: 10px; 
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 1*/

.box7{
  top: 100px;
  left: 195px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 2*/

.box8{
  top: 115px;
  left: 45px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 3*/

.box9{
  top: 115px;
  left: 243px;
  width: 10px; 
  height:10px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 4*/

.box10{
  top: 205px;
  left: 95px;
  width: 10px; 
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 5*/

.box11{
  top: 205px;
  left: 45px;
  width: 10px; 
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 6*/

.box12{
  top: 205px;
  left: 147px;
  width: 10px; 
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 7*/

.box13{
  top: 205px;
  left: 195px;
  width: 10px; 
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 8*/

.box14{
  top: 205px;
  left: 245px;
  width: 10px; 
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 9*/

.box15{
  top: 395px;
  left: 95px;
  width: 10px; 
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 10*/

.box16{
  top: 395px;
  left: 215px;
  width: 10px; 
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 11*/

.box17{
  top: 175px;
  left: 136px;
  width: 10px; 
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 12*/

.box18{
  top: 205px;
  left: 95px;
  width: 10px; 
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 13*/

.a1{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 105px;
	left: 325px;
	border-left: 240px; 
}/*line 1*/

.a2{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 105px;
	left: 425px;
	border-left: 240px; 
}/*line 2*/

.a3{
    background-color: black;
	top: 40px;
	left: 373px;
	width: 1px;
	height: 160px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 3*/

.a4{
    background-color: black;
	top: 130px;
	left: 373px;
	width: 1px;
	height: 160px;
	border-bottom: 240px;
	transform: rotate(-270deg)
}/*line 4*/

.a5{
  top: 100px;
  left: 320px;
  width: 10px; 
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 1*/

.a6{
  top: 100px;
  left: 420px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 2*/

.a7{
  top: 115px;
  left: 290px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*dot 3*/

.a8{
  top: 115px;
  left: 320px;
  width: 10px; 
  height:10px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 4*/

.a9{
  top: 115px;
  left: 420px;
  width: 10px; 
  height:10px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 5*/

.a10{
  top: 115px;
  left: 450px;
  width: 10px; 
  height:10px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 6*/

.a11{
  top: 205px;
  left: 290px;
  width: 10px; 
  height:10px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 7*/

.a12{
  top: 205px;
  left: 320px;
  width: 10px; 
  height:10px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 8*/

.a13{
  top: 205px;
  left: 420px;
  width: 10px; 
  height:10px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 9*/

.a14{
  top: 205px;
  left: 450px;
  width: 10px; 
  height:10px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 10*/

.a15{
  top: 396px;
  left: 320px;
  width: 10px; 
  height:10px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 11*/
}

.a16{
  top: 396px;
  left: 320px;
  width: 10px; 
  height:10px;
  background-color: red; 
  border-radius: 50%;
  }/*dot 12*/

.n1{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 105px;
	left: 515px;
	border-left: 240px; 
}/*line 1*/

.n2{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 105px;
	left: 615px;
	border-left: 240px; 
}/*line 2*/

.n3{
background-color: black;
	top: 110px;
	left: 571px;
	width: 1px;
	height: 290px;
	border-bottom: 240px;
	transform: rotate(-215deg)
}/*Line 3*/

.n4{
  top: 103px;
  left: 510px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 1*/

.n5{
  top: 103px;
  left: 610px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 2*/

.n6{
  top: 134px;
  left: 484px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 3*/

.n7{
  top: 170px;
  left: 510px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 4*/

.n8{
  top: 315px;
  left: 610px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 5*/

.n9{
  top: 367px;
  left: 648px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 6*/

.n10{
  top: 397px;
  left: 510px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 7*/

.n11{
  top: 398px;
  left: 610px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 8*/

.g1{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 110px;
	left: 715px;
	border-left: 240px; 
}/*line 1*/

.g2{
    background-color: black;
	width: 1px;
	height: 90px;
	top: 110px;
	left: 815px;
	border-left: 240px; 
}/*line 2*/

.g3{
    background-color: black;
	top: 20px;
	left: 765px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 3*/

.g4{
    background-color: black;
	top: 290px;
	left: 765px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 4*/

.g5{
   background-color: black;
	width: 1px;
	height: 110px;
	top: 300px;
	left: 815px;
	border-left: 240px; 
}/*line 5*/

.g6{
background-color: black;
	top: 270px;
	left: 815px;
	width: 1px;
	height: 80px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 6*/

.g7{
  top: 105px;
  left: 710px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 1*/

.g8{
  top: 105px;
  left: 810px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 2*/

.g9{
  top: 115px;
  left: 663px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 3*/

.g10{
  top: 115px;
  left: 863px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 4*/

.g11{
  top: 198px;
  left: 810px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 5*/

.g12{
  top: 385px;
  left: 710px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 6*/

.g13{
  top: 385px;
  left: 660px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 7*/

.g14{
  top: 402px;
  left: 710px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 8*/

.g15{
  top: 385px;
  left: 810px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 9*/

.g16{
  top: 385px;
  left: 860px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 10*/

.g17{
  top: 402px;
  left: 810px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 11*/

.g18{
  top: 307px;
  left: 810px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 12*/

.g19{
  top: 290px;
  left: 810px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 13*/

.g20{
  top: 305px;
  left: 770px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 14*/

.g21{
  top: 305px;
  left: 850px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 15*/

.g22{
  top: 118px;
  left: 810px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 16*/

.g23{
  top: 118px;
  left: 710px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 17*/

.e1{
    background-color: black;
	width: 1px;
	height: 300px;
	top: 110px;
	left: 925px;
	border-left: 240px; 
}/*line 1*/

.e2{
    background-color: black;
	top: 20px;
	left: 995px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 2*/

.e3{
    background-color: black;
	top: 178px;
	left: 970px;
	width: 1px;
	height: 150px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 3*/

.e4{
    background-color: black;
	top: 290px;
	left: 995px;
	width: 1px;
	height: 200px;
	border-bottom: 240px;
	transform: rotate(-270deg);
}/*line 4*/

.e5{
  top: 103px;
  left: 920px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 1*/

.e6{
  top: 115px;
  left: 890px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 2*/

.e7{
  top: 115px;
  left: 920px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 3*/

.e8{
  top: 115px;
  left: 1090px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 4*/

.e9{
  top: 248px;
  left: 920px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 5*/

.e10{
  top: 248px;
  left: 890px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 6*/

.e11{
  top: 248px;
  left: 1038px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 7*/

.e12{
  top: 385px;
  left: 890px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 8*/

.e13{
  top: 385px;
  left: 920px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 9*/

.e14{
  top: 400px;
  left: 920px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 10*/

.e15{
  top: 385px;
  left: 1090px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 11*/

.s1{
background-color: black;
  width: 1px;
  height: 200px;
  top: 110px;
  left: 1160px;
  border-left: 240px; 
}/*line 1*/

.s2{
background-color: black;
  width: 1px;
  height: 200px;
  top: 20px;
  left: 1245px;
  border-left: 240px;
  transform: rotate(-270deg) 
}/*line 2*/

.s3{
background-color: black;
  width: 1px;
  height: 100px;
  top: 110px;
  left: 1325px;
  border-left: 240px; 
}/*line 3*/

.s4{
background-color: black;
  width: 1px;
  height: 200px;
  top: 180px;
  left: 1245px;
  border-left: 240px;
  transform: rotate(-270deg) 
}/*line 4*/

.s5{
background-color: black;
  width: 1px;
  height: 135px;
  top: 265px;
  left: 1325px;
  border-left: 240px;
}/*line 5*/

.s6{
background-color: black;
  width: 1px;
  height: 200px;
  top: 290px;
  left: 1245px;
  border-left: 240px;
  transform: rotate(-270deg) 
}/*line 6*/

.s7{
background-color: black;
  width: 1px;
  height: 90px;
  top: 370px;
  left: 1160px;
  border-left: 240px;
}/*line 7*/

.s8{
top: 115px;
  left: 1340px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 1*/

.s9{
top: 115px;
  left: 1320px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 2*/

.s10{
top: 100px;
  left: 1320px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 3*/

.s11{
top: 200px;
  left: 1320px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 4*/

.s12{
top: 115px;
  left: 1155px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 5*/

.s13{
top: 100px;
  left: 1155px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 6*/

.s14{
top: 115px;
  left: 1140px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 7*/

.s15{
top: 275px;
  left: 1155px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 8*/
}

.s16{
top: 275px;
  left: 1145px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 9*/

.s17{
top: 300px;
  left: 1155px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 10*/

.s18{
top: 275px;
  left: 1320px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 11*/

.s19{
top: 255px;
  left: 1320px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 12*/

.s20{
top: 275px;
  left: 1340px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 13*/

.s21{
top: 385px;
  left: 1320px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 14*/

.s22{
top: 385px;
  left: 1340px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 15*/
.s23{
top: 400px;
  left: 1320px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 16*/

.s24{
top: 385px;
  left: 1155px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 17*/

.s25{
top: 365px;
  left: 1155px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 18*/

.s26{
top: 385px;
  left: 1137px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 19*/

.s27{
top: 450px;
  left: 1155px;
  width: 10px;
  height: 10px;
  background-color: red; 
  border-radius: 50%;
}/*Dot 20*/

.description{
  top: 500px;
  font-family: Helvetica;
  font-size: 18px;
  color: black;
  width: 700px
  line-height: 46px;
  font-weight: bold;

}
