html, body {
  margin: 0;
  padding: 0;
}

body{
	width: 80vw;
	margin-left: 10vw;
}

.background{
	background-color: black;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	opacity: 0.40;
}

.mdbackground{
	background-color: red;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	opacity: 0.70;
}

.sbbackground{
	background-color: #00704A;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	opacity: 0.85;
}

.elevenbackground{
	background-color: #FF6D00;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	opacity: 0.85;
}

.kfcbackground{
	background-color: #BF0204;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	opacity: 0.75;
}

.hongkong{
	z-index: -1;
	opacity: 0.13;
	width: 70%;
	top: -15px;
	left: 141px;
	background-position: center center;
	position: fixed;
}

.logo{
	height: 25%;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: -20px;
}

.sblogo{
	height: 35%;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: -20px;
}

.elevenlogo{
	height: 30%;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: -20px;
}

.kfclogo{
	height: 40%;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: -20px;
}

.backicon{
	width: 13%;
	margin-left: -30px;
	margin-top: 15px;
	margin-bottom: 13px;
}

h1{
	font-family: 'Oswald', sans-serif;
	margin-top: 30px;
	margin-bottom: 23px;
	font-size: 35px;
	line-height: 43px;
	text-align: center;
	color: white;
}

h2{
	font-family: 'Roboto', sans-serif;
	margin-top: -10px;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 5px;
	text-align: center;
	font-style: italic;
	color: white;
}

.title{
	font-weight: bold;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 5px;
	color: white;
}

a{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
}

embed{
	border: 1.5px #FE9E83 solid;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.pullquote{
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 15px;
	color: black;
	font-size: 28px;
	line-height: 36px;
	text-indent: 0;
}

img{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

@media(min-width: 364px){
	body{
		width: 314px; /*Makes sure that web screen goes over that number when you expand the window it will stay that size you set it*/
		margin-left: auto;
		margin-right: auto;
	}
}