div{
	position: absolute;
}

body{
	background-image: url("431 copy.jpg");
	background-size: auto; 
	background-repeat: repeat;
        background-attachment: fixed;
}

.moca{
	font-family: Futura;
	font-size: 41pt;
	opacity: 0.5;
	top: 43pt;
	left: 72pt;
}

.moca:hover{
	opacity: 1;
	cursor: pointer;
}

.moon{
	top: -139pt;
	left: 431pt;
	opacity: 0.15;
}

.flower{
	opacity: 0.1;
	top: -2pt;
	left: -12pt;
}

.happynewyear{
	top: 170pt;
	left: 43pt;
}

.lunartitle{
	font-family: Futura;
	font-weight: bold;
	font-size: 45pt;
	top: 300pt;
	left: 53pt;
}

.date{
	font-family: Futura;
	font-size: 35pt;
	top: 360pt;
	left: 53pt;
}

.time{
	font-family: Futura;
	font-size: 35pt;
	top: 400pt;
	left: 53pt;
}

.tickets{
	font-family: Futura;
	font-size: 35pt;
	top: 448pt;
	left: 53pt;
}

.tickets:hover{
	color: grey;
	cursor: pointer;
}
