div{
	position: absolute;
}

body{
	background-image: url("431 copy.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.moca{
	font-family: Futura;
	font-size: 54px;
	opacity: 0.5;
	top: 57px;
	left: 70px;
}

.moca:hover{
	opacity: 1;
	cursor: pointer;
}

.moon{
	top: -165px;
	left: 594px;
	opacity: 0.15;
}

.flower{
	opacity: 0.1;
	top: -2px;
	left: -16px;
}

.happynewyear{
	top: 223px;
	left: 57px;
}

.lunartitle{
	font-family: Futura;
	font-weight: bold;
	font-size: 60px;
	top: 400px;
	left: 70px;
}

.date{
	font-family: Futura;
	font-size: 45px;
	top: 480px;
	left: 70px;
}

.time{
	font-family: Futura;
	font-size: 45px;
	top: 533px;
	left: 70px;
}

.tickets{
	font-family: Futura;
	font-size: 45px;
	top: 602px;
	left: 70px;
}

.tickets:hover{
	color: grey;
	cursor: pointer;
}

.location{
	font-family: Futura;
	font-size: 45px;
	top: 687px;
	left: 70px;
}

.info{
	font-family: Futura;
	font-size: 45px;
	top: 937px;
	left: 70px;
}