div{
	position: absolute;
}

.line{
	border-left: 5px solid black;
	height: 620px;
	left: 629px;
	top: 80px;
}

.line2{
	border-left: 5px solid black;
	height: 620px;
	left: 798px;
	top: 80px;
}

.wake-up {
  width: 100vw;
  height: 100vh;
  background-image: url(alarmbackground.svg);
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.button {
  background-image: url(snoozebuttonred.svg);
  top: 20vw;
  left: 61vw;
  width: 12vw;
  height: 12vw;
  cursor: pointer;
}

.second{
  top: 6vw;
  left: 26.6vw;
  width: 30vw;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;  
  background-image: url(0.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: swapImage;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.minute{
  top: 13vw;
  left: 32.3vw;
  width: 35vw;
  height: 35vw;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 20px;
  background-image: url(0.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;  
  animation-name: swapImage2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.hour{
  top: 10vw;
  left: 42.4vw;
  width: 30vw;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-image: url(0.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImage3;
  animation-duration: 60s;
  animation-iteration-count: infinite; 
}

.alarming {
  opacity: 1;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes swapImage {
  0% {
    background-image: url(0seconds.svg);
  }
  10% {
    background-image: url(1seconds.svg);
  }
  20% {
    background-image: url(2seconds.svg);
  }  
  30% {
    background-image: url(3seconds.svg);
  }  
  40% {
    background-image: url(4seconds.svg);
  }  
  50% {
    background-image: url(5seconds.svg);
  }
  60% {
    background-image: url(6seconds.svg);
  }
  70% {
    background-image: url(7seconds.svg);
  }  
  80% {
    background-image: url(8seconds.svg);
  }  
  90% {
    background-image: url(9seconds.svg);
  }  
  100% {
    background-image: url(0seconds.svg);
  }    
}

@keyframes swapImage2 {
  0% {
    background-image: url(0minutes.svg);
  }
  10% {
    background-image: url(1minutes.svg);
  }
  20% {
    background-image: url(2minutes.svg);
  }  
  30% {
    background-image: url(3minutes.svg);
  }  
  40% {
    background-image: url(4minutes.svg);
  }  
  50% {
    background-image: url(5minutes.svg);
  }
  60% {
    background-image: url(6minutes.svg);
  }
  70% {
    background-image: url(7minutes.svg);
  }  
  80% {
    background-image: url(8minutes.svg);
  }  
  90% {
    background-image: url(9minutes.svg);
  }  
  100% {
    background-image: url(0minutes.svg);
  }    
}

@keyframes swapImage3 {
  0% {
    background-image: url(0hours.svg);
  }
  10% {
    background-image: url(1hours.svg);
  }
  20% {
    background-image: url(2hours.svg);
  }  
  30% {
    background-image: url(3hours.svg);
  }  
  40% {
    background-image: url(4hours.svg);
  }  
  50% {
    background-image: url(5hours.svg);
  }
  60% {
    background-image: url(6hours.svg);
  }
  70% {
    background-image: url(7hours.svg);
  }  
  80% {
    background-image: url(8hours.svg);
  }  
  90% {
    background-image: url(9hours.svg);
  }  
  100% {
    background-image: url(0hours.svg);
  }    
}