div{
	position: absolute;
}

.line{
	border-left: 5px solid black;
	height: 620px;
	left: 629px;
	top: 80px;
}

.line2{
	border-left: 5px solid black;
	height: 620px;
	left: 798px;
	top: 80px;
}

.wake-up {
  width: 100vw;
  height: 100vh;
  background-image: url(alarmbackground.svg);
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.button {
  background-image: url(snoozebuttonblue.svg);
  top: 20vw;
  left: 61vw;
  width: 12vw;
  height: 12vw;
  cursor: pointer;
}

.second{
  top: 6vw;
  left: 26.6vw;
  width: 30vw;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;  
  background-image: url(0.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: swapImage;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.minute{
  top: 13vw;
  left: 32.3vw;
  width: 35vw;
  height: 35vw;
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 20px;
  background-image: url(0.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;  
  animation-name: swapImage2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.hour{
  top: 10vw;
  left: 42.4vw;
  width: 30vw;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-image: url(0.svg);
  background-size: contain;
  background-position: center center;  
  background-repeat: no-repeat;
  animation-name: swapImage3;
  animation-duration: 60s;
  animation-iteration-count: infinite; 
}

.alarming {
  opacity: 1;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes swapImage {
  0% {
    background-image: url(0secondsblue.svg);
  }
  10% {
    background-image: url(1secondsblue.svg);
  }
  20% {
    background-image: url(2secondsblue.svg);
  }  
  30% {
    background-image: url(3secondsblue.svg);
  }  
  40% {
    background-image: url(4secondsblue.svg);
  }  
  50% {
    background-image: url(5secondsblue.svg);
  }
  60% {
    background-image: url(6secondsblue.svg);
  }
  70% {
    background-image: url(7secondsblue.svg);
  }  
  80% {
    background-image: url(8secondsblue.svg);
  }  
  90% {
    background-image: url(9secondsblue.svg);
  }  
  100% {
    background-image: url(0secondsblue.svg);
  }    
}

@keyframes swapImage2 {
  0% {
    background-image: url(0minutesblue.svg);
  }
  10% {
    background-image: url(1minutesblue.svg);
  }
  20% {
    background-image: url(2minutesblue.svg);
  }  
  30% {
    background-image: url(3minutesblue.svg);
  }  
  40% {
    background-image: url(4minutesblue.svg);
  }  
  50% {
    background-image: url(5minutesblue.svg);
  }
  60% {
    background-image: url(6minutesblue.svg);
  }
  70% {
    background-image: url(7minutesblue.svg);
  }  
  80% {
    background-image: url(8minutesblue.svg);
  }  
  90% {
    background-image: url(9minutesblue.svg);
  }  
  100% {
    background-image: url(0minutesblue.svg);
  }    
}

@keyframes swapImage3 {
  0% {
    background-image: url(0hoursblue.svg);
  }
  10% {
    background-image: url(1hoursblue.svg);
  }
  20% {
    background-image: url(2hoursblue.svg);
  }  
  30% {
    background-image: url(3hoursblue.svg);
  }  
  40% {
    background-image: url(4hoursblue.svg);
  }  
  50% {
    background-image: url(5hoursblue.svg);
  }
  60% {
    background-image: url(6hoursblue.svg);
  }
  70% {
    background-image: url(7hoursblue.svg);
  }  
  80% {
    background-image: url(8hoursblue.svg);
  }  
  90% {
    background-image: url(9hoursblue.svg);
  }  
  100% {
    background-image: url(0hoursblue.svg);
  }    
}